<div class="col-xs-12 col s12 text-center">
        <button
            type="submit"
            id="send-to-email-button"
            class="btn btn-success waves-effect waves-light blue darken-3"
            >
             Send an order 
        </button>

</div>
